@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

$Very-Dark-Blue: hsl(234, 12%, 34%);
$Grayish-Blue: hsl(229, 6%, 66%);
$Blue: hsl(248, 32%, 49%);
$Dark-Blue: hsl(249, 10%, 26%);
*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f5f7;
  font-size: 12px;
  color: $Very-Dark-Blue;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  //padding: 2em 1em 0;
  //justify-content: center;
  &-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: justify;
    margin-bottom: 0.5em;
    border-radius: 2em;
    padding: 1em;
    &:last-child {
      margin-bottom: 0;
    }
    &-refran {
      font-size: 1em;
      text-align: right;
      color: $Dark-Blue;
      width: 100%;
    }
    &-title {
      font-size: 1.9em;
      font-weight: 600;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 0.5em;
      padding: 0 11px;
    }
    &-mensaje {
      font-size: 1.5em;
      background-color: white;
      border-radius: 1em;
      padding: 1em;
      @media (max-width: 320px) {
        & {
          font-size: 1.3em;
        }
      }
      &.acuerdos {
        background-color: #16c79a;
        font-family: 'Ubuntu', sans-serif;
        color: #19456b;
      }
      p {
        font-size: 0.9em;
        margin-bottom: 1em;
      }
      .firma {
        font-style: italic;
        text-align: right;
      }
      ul {
        list-style: none;
      }
      li {
        font-size: 0.9em;
        margin-bottom: 0.5em;
        margin-left: 10px;
      }
      h3 {
        font-weight: 800;
        font-size: 1em;
        margin-bottom: 10px;
      }
    }
  }
}
